@import url(../resources/basestyle.css);

span.desc {
	float: right;
}

span.unsupported {
	width: 85%;
	position: absolute;
	text-align: center;
	color: red;
}

div:not(.credit) {
	border-top: 1px dashed gray;
	border-bottom: 1px dashed gray;
	padding: 2px;
	width: 100%;
}

div.credit {
	font-family: codeFont;
	position: fixed;
	bottom: 0;
	width: 100%;

	color: gray;
	text-align: center;
}

body {
  overflow: hidden;
}
